.git/
.github/

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# vscode
.vscode/

# log
logs
*.log

# temp, cache
*.tgz

*.cache
cache/

*.tmp
*.temp
temp/

# project
LICENSE

theme/
guide/

# test
test/
tests/

coverage/